boody {
  font-family: Arial, sans-serif;
}

#search-form {
  padding: 5px;
}

h1 {
  color: #878787;
  font-size: 34px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

li:first-letter {
  text-transform: capitalize;
}

.dt {
  line-height: 28px;
}
#description {
  line-height: 15px;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid blueviolet;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature strong {
  color: #333;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: 0;
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature #icon {
  font-size: 84px;
}

.weather-temperature .active {
  color: #333;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}
